body {
    font-family: "Inter", "Times";
    color: #254F3B;
    background-color: #F1FFF8;
}

body.darkMode {
    color: #FFFCE9;
    background-color: #254F3B;
}


.cairoPlay {
    font-family: "Cairo Play";
}

.answer {
    font-family: "Cairo Play";
    font-size: 50px;
}

.flexbox {
    display: flex;
    justify-content: center; 
    align-items: center;  
    flex-wrap: wrap;
}

.title {
    font-family: "Inter", "Times";
    font-weight: 400;
    font-size: 45px;
    
}

.noMargin {
    margin-bottom: 0%;
}

.generateButton {
    background-color: #254F3B;
    color: #F1FFF8;
    width: 300px;
    height: 90px;
    border: 1px solid #787878;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: "Inter", "Times";
    font-size: 28px;
    margin: 10px;
    cursor: pointer;

}

.generateButton:hover {background-color: #befdbe; color: #254F3B}

.generateButton:active {
  background-color: #9bffa8;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transform: translateY(2px);

}

.generateButton.darkMode {
    background-color: #FFFCE9;
    color: #254F3B;
    width: 300px;
    height: 90px;
    border: 1px solid #787878;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: "Inter", "Times";
    font-size: 28px;
    margin: 10px;
    cursor: pointer;

}

.generateButton:hover {background-color: #d7d3da}

.generateButton:active {
  background-color: #d7d3da;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transform: translateY(2px);

}