body {
    font-family: "Spectral", "Times";
}

.cairoPlay {
    font-family: "Cairo Play";
}

.answer {
    font-family: "Cairo Play";
    font-size: 50px;
}

.flexbox {
    display: flex;
    justify-content: center; 
    align-items: center;  
    flex-wrap: wrap;
}

.title {
    font-family: "Spectral", "Times";
    font-size: 45px;
    
}

