body {
    font-family: "Spectral", "Times";
    color: black;
    background-color: white;
}

.darkMode {
    color: white;
    background-color: #000000;
}

.cairoPlay {
    font-family: "Cairo Play";
}

.answer {
    font-family: "Cairo Play";
    font-size: 50px;
}

.flexbox {
    display: flex;
    justify-content: center; 
    align-items: center;  
    flex-wrap: wrap;
}

.title {
    font-family: "Spectral", "Times";
    font-size: 45px;
    
}

.generateButton {
    background-color: white;
    width: 300px;
    height: 90px;
    border: 1px solid #787878;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: "Inter", "Times";
    font-size: 28px;
    margin: 10px;
    cursor: pointer;

}

.generateButton:hover {background-color: #d7d3da}

.generateButton:active {
  background-color: #d7d3da;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transform: translateY(2px);

}

.generateButton.darkMode {
    background-color: white;
    width: 300px;
    height: 90px;
    border: 1px solid #787878;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: "Inter", "Times";
    font-size: 28px;
    margin: 10px;
    cursor: pointer;

}

.generateButton:hover {background-color: #d7d3da}

.generateButton:active {
  background-color: #d7d3da;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transform: translateY(2px);

}